In [2]:
import pandas as pd

df = pd.read_csv('abalone.csv')
df.columns

Index(['Sex', 'Length', 'Diameter', 'Height', 'Whole weight', 'Shucked weight',
       'Viscera weight', 'Shell weight', 'Age'],
      dtype='object')

In [3]:
# Calculating the mean of both 'Diameter' and 'Whole weight' parameters

mean_parameters = df[['Diameter', 'Whole weight']].mean()
print(mean_parameters)

Diameter        0.407881
Whole weight    0.828742
dtype: float64

In [4]:
# Calculating the variance of both 'Diameter' and 'Whole weight' parameters
variance_parameters = df[['Diameter', 'Whole weight']].var()
print(variance_parameters)

Diameter        0.009849
Whole weight    0.240481
dtype: float64

In [6]:
# Calculating the skewness  of both 'Diameter' and 'Whole weight' parameters
skewness_parameters = df[['Diameter', 'Whole weight']].skew()
print(skewness_parameters)

Diameter       -0.609198
Whole weight    0.530959
dtype: float64

In [5]:
# Calculating the kurtosis of both 'Diameter' and 'Whole weight' parameters
kurtosis_parameters = df[['Diameter', 'Whole weight']].kurtosis()
print(kurtosis_parameters)

Diameter       -0.045476
Whole weight   -0.023644
dtype: float64

In [8]:
df_adult = pd.read_csv('adult.csv')
df_adult.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [9]:
df_adult.dtypes

age                int64
workclass         object
fnlwgt             int64
education         object
education-num      int64
marital-status    object
occupation        object
relationship      object
race              object
sex               object
capital-gain       int64
capital-loss       int64
hours-per-week     int64
native-country    object
income            object
dtype: object

In [19]:
# Counting the amount of missing values for each attribute

df_adult_na = df_adult.replace(to_replace='?', value=None)
# df_adult_na.head(20)

missing_values = df_adult_na[['workclass', 'occupation', 'native-country']].count(axis=0)
print(missing_values)

workclass         30725
occupation        30718
native-country    31978
dtype: int64